<div class="container my-5">
    <h1 class="text-center">Restaurantes</h1>
    <div class="text-center mb-3">
        <a [routerLink]="['/crearestaurante']" class="btn btn-primary">Añadir Nuevo Restaurante</a>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let restaurante of restaurantes; trackBy: trackById">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{restaurante.nombre}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{restaurante.direccion}}</h6>
                    <p class="card-text">Fecha de Fundación: {{restaurante.fundacion}}</p>
                    <a class="btn btn-info btn-sm" [routerLink]="['/mapa', restaurante.id]">Ver Mapa</a>
                    <a class="btn btn-info btn-sm" [routerLink]="['/editarestaurante', restaurante.id]">Editar</a>
                    <a class="btn btn-danger btn-sm me-2" (click)="eliminarRestaurante(restaurante.id)">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>