<div class="container my-5">
    <h1 class="text-center">Platos</h1>
    <div class="text-center mb-3">
        <a [routerLink]="['/crearplato']" class="btn btn-primary">Añadir Nuevo Plato</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Restaurante</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plato of platos; trackBy: trackById">
                <td>{{plato.id}}</td>
                <td>{{plato.nombre}}</td>
                <td>{{plato.tipo}}</td>
                <td>
                    <ng-container *ngFor="let restaurante of restaurantes; trackBy: trackById">
                        <ng-container *ngIf="restaurante.id === plato.restauranteId">
                            {{restaurante.nombre}}
                        </ng-container>
                    </ng-container>
                </td>
                <td>{{plato.fechaCreacion}}</td>
                <td>
                    <a class="btn btn-danger btn-sm me-2" (click)="eliminarPlato(plato.id)">Eliminar</a>
                    <a class="btn btn-info btn-sm" [routerLink]="['/editarplato', plato.id]">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>